footer {
  background-color: #202020;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  padding: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  margin: 0;
}

footer,
p {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
