.App {
  text-align: center;
  margin: 0 auto;
  width: 60%;
  padding-top: 15%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  position: sticky;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-white {
  color: #ffffff;
  text-align: center;
}

#wrapper {
  -webkit-overflow-scrolling: touch;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

#main {
  display: flex;
  position: relative;
  max-width: 100%;
  z-index: 1;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  text-align: center;
  background-color: #ffffff;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  -moz-transition: opacity 1.25s ease 0s, -moz-transform 1.25s ease 0s;
  -webkit-transition: opacity 1.25s ease 0s, -webkit-transform 1.25s ease 0s;
  -ms-transition: opacity 1.25s ease 0s, -ms-transform 1.25s ease 0s;
  transition: opacity 1.25s ease 0s, transform 1.25s ease 0s;
}

#main > .inner {
  position: relative;
  z-index: 1;
  border-radius: inherit;
  padding: 0rem;
  max-width: 100%;
  width: 24rem;
}

#main > .inner > * {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

#text02 {
  color: #363636;
  font-family: "Arial", sans-serif;
  letter-spacing: -0.125rem;
  width: 100%;
  font-size: 3em;
  line-height: 1.25;
  font-weight: 700;
}

#icons01 {
  font-size: 1em;
  width: calc(100% + 0.75rem);
  margin-left: -0.375rem;
}

.icons {
  cursor: default;
  padding: 0;
  letter-spacing: 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.image.full img {
  display: block;
}

.image img {
  width: 100%;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
}

#image01 img {
  width: 100vw;
  height: 22.375rem;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  object-fit: cover;
  -moz-object-position: center;
  -webkit-object-position: center;
  -ms-object-position: center;
  object-position: center;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  } */
